.app{
    display: flex;
}

.aside-menu{
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}

.aside-menu ul{
    list-style-type: none;
    cursor: pointer;
}

.main{
    display: flex;
    flex-direction: column;
}

.main .search-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .search-section 
input, button {
    background-color: #000;
    color: #fff;
}